@import "/scss/placeholders";
@import "/scss/variables";

.main-popup {
    width: 100vw;
    height: 100vh;

    @extend %flex-center;

    background-color: $black-75;

    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    & .content {
        animation: showPopUpContent 0.3s linear;

        position: relative;
    }

    & .closeBtn {
        width: 20px;
        height: 20px;

        background-color: transparent;

        position: absolute;
        top: 0;
        right: 48px;
        transform: translateY(-200%);

        cursor: pointer;

        border: none;

        & svg {
            transform: scale(1.33);
        }

        &:hover path {
            fill: $orange;
        }
    }

    & .gallery button {
        display: flex !important;
    }

    & .mainImage {
        cursor: default !important;
    }

    & .prevBtn {
        left: 0;
        transform: translate(-50%, -50%);
    }

    & .nextBtn {
        right: 0;
        transform: translate(50%, -50%);
    }

    & .mainImage {
        width: 550px;
        height: 550px;
    }
}

@keyframes showPopUpContent {
    from {
        transform: scale(0);

        opacity: 0;
    }

    to {
        transform: scale(1);

        opacity: 1;
    }
}
