@import "/scss/variables";

.images {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;

    & .mainImage {
        width: 440px;
        height: 445px;

        cursor: zoom-in;

        position: relative;

        & img {
            width: 100%;
            height: 100%;

            border-radius: 20px;
        }

        & button {
            width: 58px;
            height: 58px;

            border: none;
            border-radius: 50%;

            position: absolute;
            top: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            background-color: $white;

            &:hover path {
                stroke: $orange;
            }
        }

        & .prevBtn {
            left: 0;
            transform: translate(-50%, -50%);
        }

        & .nextBtn {
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    & .imageList {
        width: 440px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        & .image {
            width: 90px;
            height: 90px;

            cursor: pointer;

            border-radius: 10px;

            position: relative;

            &.active {
                outline: 2px solid $orange;
            }

            &::after {
                content: "";

                width: 100%;
                height: 100%;

                background-color: $white-75;

                border-radius: 10px;

                opacity: 0;

                position: absolute;
                top: 0;
                left: 0;

                transition: opacity .3s ease;
            }

            &.active,
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }

        & img {
            width: 90px;
            height: 90px;

            cursor: pointer;

            border-radius: 10px;
        }
    }
}
