@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@import "/scss/variables";

*,
::before,
::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Kumbh Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

#root {
    width: 100%;
    max-width: 1110px;
}
